In [40]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

In [41]:
dia = pd.read_csv("C:/Users/GNANA SAI A S/Downloads/MLops project/data/diamonds.csv")

In [42]:
dia.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [43]:
dia.shape

(53940, 10)

In [44]:
dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [45]:
dia.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [46]:
# Rearranging the Columns

In [47]:
dia = dia [['carat','cut','color','clarity','depth','table','price','x','y','z']]

In [48]:
y = dia['price']
x = dia.drop(['price'],axis = 1)

In [49]:
#  Train-Test_Split

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.75, random_state = 0)

In [51]:
#preparing train data

In [52]:
x_train_cat = x_train.select_dtypes(include=['object'])
x_train_cat.head()

             cut color clarity
441      Premium     H     SI2
50332  Very Good     D     SI1
35652      Ideal     G    VVS2
9439   Very Good     H     VS1
15824       Good     F     VS2

In [53]:
# Oridinal Encoder for categoricals

In [54]:

enc = OrdinalEncoder()

In [55]:
x_train_catg = pd.DataFrame(enc.fit_transform(x_train_cat), columns = x_train_cat.columns, index = x_train_cat.index)

In [56]:



x_train_catg.head()

       cut  color  clarity
441    3.0    4.0      3.0
50332  4.0    0.0      2.0
35652  2.0    3.0      7.0
9439   4.0    4.0      4.0
15824  1.0    2.0      5.0

In [57]:
x_train_num = x_train.select_dtypes(include=['int64','float64'])
x_train_num.head()

       carat  depth  table     x     y     z
441     0.89   60.2   59.0  6.26  6.23  3.76
50332   0.70   64.0   53.0  5.57  5.61  3.58
35652   0.31   62.7   57.0  4.33  4.31  2.71
9439    0.90   62.3   59.0  6.12  6.17  3.83
15824   1.01   60.6   62.0  6.52  6.49  3.94

In [58]:
# standard Scaler for Numerical Features

In [59]:
scaler = StandardScaler()

In [60]:
x_train_no = pd.DataFrame(scaler.fit_transform(x_train_num),columns = x_train_num.columns, index = x_train_num.index)

In [61]:
x_train_rescaled = pd.concat([x_train_catg, x_train_no], axis=1)
x_train_rescaled.head()

,cut,color,clarity,carat,depth,table,x,y,z
441,3.0,4.0,3.0,0.194920,-1.085697,0.694368,0.472201,0.430971,0.312528
50332,4.0,0.0,2.0,-0.205679,1.567623,-1.997562,-0.142482,-0.107276,0.058918
35652,2.0,3.0,7.0,-1.027961,0.659908,-0.202942,-1.247129,-1.235860,-1.166861
9439,4.0,4.0,4.0,0.216004,0.380611,0.694368,0.347483,0.378883,0.411154
15824,1.0,2.0,5.0,0.447930,-0.806400,2.040332,0.703821,0.656688,0.566137

In [62]:
# Preparing test data

In [63]:
x_test_cat = x_test.select_dtypes(include=['object'])
x_test_cat.head()

             cut color clarity
10176      Ideal     H     SI2
16083      Ideal     H     SI1
13420    Premium     I     SI1
20407      Ideal     F     SI1
8909   Very Good     F     VS2

In [64]:
x_test_catg = pd.DataFrame(enc.transform(x_test_cat), columns = x_test_cat.columns, index = x_test_cat.index)

In [65]:
x_test_num = x_test.select_dtypes(include=['int64','float64'])
x_test_num.head()

       carat  depth  table     x     y     z
10176   1.10   62.0   55.0  6.61  6.65  4.11
16083   1.29   62.6   56.0  6.96  6.93  4.35
13420   1.20   61.1   58.0  6.88  6.80  4.18
20407   1.50   60.9   56.0  7.43  7.36  4.50
8909    0.90   61.7   57.0  6.17  6.21  3.82

In [66]:
x_test_no = pd.DataFrame(scaler.transform(x_test_num),
                        columns = x_test_num.columns, 
                        index = x_test_num.index)

In [67]:
x_test_no.head()

          carat     depth     table         x         y         z
10176  0.637687  0.171139 -1.100252  0.783997  0.795591  0.805657
16083  1.038286  0.590084 -0.651597  1.095792  1.038670  1.143803
13420  0.848529 -0.457279  0.245713  1.024525  0.925812  0.904283
20407  1.481053 -0.596928 -0.651597  1.514489  1.411971  1.355144
8909   0.216004 -0.038334 -0.202942  0.392025  0.413609  0.397064

In [68]:
x_test_rescaled = pd.concat([x_test_catg, x_test_no], axis=1)
x_test_rescaled.head()

,cut,color,clarity,carat,depth,table,x,y,z
10176,2.0,4.0,3.0,0.637687,0.171139,-1.100252,0.783997,0.795591,0.805657
16083,2.0,4.0,2.0,1.038286,0.590084,-0.651597,1.095792,1.038670,1.143803
13420,3.0,5.0,2.0,0.848529,-0.457279,0.245713,1.024525,0.925812,0.904283
20407,2.0,2.0,2.0,1.481053,-0.596928,-0.651597,1.514489,1.411971,1.355144
8909,4.0,2.0,5.0,0.216004,-0.038334,-0.202942,0.392025,0.413609,0.397064

In [69]:
# Introduction to Experiment Tracking

In [70]:
# explanation will be available in the mlops text

In [71]:
# KNN REGRESSOR

In [72]:
#RUNNING THE EXPERIMENT

In [73]:
import mlflow

In [74]:
mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("Diamond Price Predictions")

In [75]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB

In [76]:
from pickle import dump
dump(scaler, open('standard_scaler.pkl', 'wb'))

In [77]:
# TRAINING KNN  EXP - 1

In [78]:
with mlflow.start_run():
    mlflow.set_tag("dev","Sai")
    mlflow.set_tag("algo","KNN")
    # LOG THE DATA FOR EACH RUN USING log_param, log_metric, log_model 
    mlflow.log_param("data-path", "data/diamonds.csv")
    k = 9
    mlflow.log_param("n_neighbors",k)
    knn_classifier = KNeighborsClassifier(n_neighbors=k)
    knn_classifier.fit(x_train_rescaled, y_train)
    y_test_pred = knn_classifier.predict(x_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(knn_classifier, artifact_path ="models")
    mlflow.log_artifact("standard_scaler.pkl")

In [ ]:
# TRAINING LINEAR REGRESSION EXP -2

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "Sai")
    mlflow.set_tag("algo", "Linear Regression")
    # LOG THE DATA FOR EACH RUN USING log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/diamonds.csv")
    linear_regressor = LinearRegression()
    linear_regressor.fit(x_train_rescaled, y_train)
    y_test_pred = linear_regressor.predict(x_test_rescaled)
    acc = metrics.r2_score(y_test, y_test_pred)
    #rmse = np.sqrt(metrics.mean_squared_error(y_test, y_test_pred))
    mlflow.log_metric("accuracy", acc)
    #mlflow.log_metric("RMSE", rmse)
    mlflow.sklearn.log_model(linear_regressor, artifact_path = "models")
    mlflow.log_artifact("standard_scaler.pkl")

In [ ]:
# TRAINING DECISION TREE EXP -3

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev","Sai")
    mlflow.set_tag("algo", "DT")
    #LOG THE DATA FOR EACH RUN USING log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/diamonds.csv")
    depth = 3
    mlflow.log_param("max_depth", depth)
    dt_classifier = DecisionTreeClassifier(max_depth = depth)
    dt_classifier.fit(x_train_rescaled, y_train)
    y_test_pred = dt_classifier.predict(x_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(dt_classifier, artifact_path = "models")
    mlflow.log_artifact("standard_scaler.pkl")

In [ ]:
# TRAINING THE *NAIVE BAYES*  EXP -5

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "Sai")
    mlflow.set_tag("algo","GaussianNB")
    # LOG THE DATA FOR EACH RUN USING log_param, log_metric, log_model
    mlflow.log_param("data-path", "diamond.csv")

    nb_classifier = GaussianNB()
    nb_classifier.fit(x_train_rescaled, y_train)
    y_test_pred = nb_classifier.predict(x_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(nb_classifier, artifact_path ="models")
    mlflow.log_artifact("standard_scaler.pkl")

In [ ]:
## TRAINING SUPPORT VECTOR CLASSIFIER EXP -4 ##

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev","Sai")
    mlflow.set_tag("algo","SVC")
    #LOG THE DATA FOR EACH RUN USING log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/diamonds.csv")
    C = 0.1
    mlflow.log_param("C", C)
    sv_classifier = SVC(C = C)
    sv_classifier.fit(x_train_rescaled, y_train)
    y_test_pred = sv_classifier.predict(x_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(sv_classifier, artifact_path = "models")
    mlflow.log_artifact("standard_scaler.pkl")

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
 #enabling automatic Mlflowlogging for scikit-learn runs
mlflow.sklearn.autolog(max_tuning_runs=None)

with mlflow.start_run():
    tuned_parameters = [{'n_neighbors':[i for i in range(1, 51)], 'p':[1,2]}]
    
    clf = GridSearchCV(
         estimator=KNeighborsClassifier(),
        param_grid= tuned_parameters,
        scoring='accuracy',
        cv=5,
        return_train_score=True,
        verbose=1
    )
    clf.fit(x_train, y_train)
    
    mlflow.sklearn.autolog(disable=True)